POSTGRES_DB=nourxplay_control
POSTGRES_USER=nourxplay
POSTGRES_PASSWORD=CHANGE_THIS_TO_A_LONG_RANDOM_PASSWORD
CONTROL_CENTER_ADMIN_TOKEN=CHANGE_THIS_TO_A_DIFFERENT_LONG_RANDOM_TOKEN
CONTROL_CENTER_PORT=18080
CONTROL_CENTER_DATA_DIR=/DATA/AppData/nourxplay-control-center
CONTROL_CENTER_PUBLIC_BASE_URL=
DEVICE_OFFLINE_SECONDS=180
HEARTBEAT_INTERVAL_SECONDS=60
